<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>A01</title>
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<header><h1>04-Kaitha Abhinay Reddy</h1></header>
	<main>
		<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
					<a class="navbar-brand" href="/">WebSite</a>
					</div>
					<ul class="nav navbar-nav">
					
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Links
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
						
						<li><a href="https://www.facebook.com/abhinay.reddy.3158">facebook</a></li>
						</ul>
					</li>
					
					<li><a href="https://github.com/Abhinaykaitha">GITHUB</a></li>
					<li><a href="https://bitbucket.org/Abhinaykaitha7/">BITBUCKET</a></li>
					<li><a href="https://www.linkedin.com/in/abhinay-kaitha-3321b4115/">linkedin</a></li>
					<li><a href="/tictactoe">Tic-tac-toe</a></li>
					<li><a href="/operations">operations</a></li>
					<li><a href="/contact">contact</a></li>
					</ul>
				
				</div>
                </nav>
            </main>
            </body>