

<% include header %>

    <body>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
                <ol>

                        <li>
                                
                            I am a new member of Fall batch-2018, working on my Masters of Applied Computer Science</li>
                            
                        <li>I am from India. I completed my Bachelor's in<span> Computer Science and Engineering </span>from Chaitanya Bharathi Institute of Technology,Hyderabad.<br>I worked for two months as an intern at Ctrl-S Datacenter which is Asia's largest Tier 4 Datacenter as a developer.</li>
                
                        <li>I am willing to secure an SQL Data Analyst position that will enable the use of exceptional technical and analytical skills.<br>I would like to gain the skills and project based experience which will be helpful for my career growth.</li>
                    </ol>
            </div>
            <div class=" img-responsive col-sm-4 ">
                    <img class="img-circle profile_img" src="image.jpg" alt="Profile photo">
            </div>
        </div>
    </div>
</div>
    

            
<!--<ol>

<li>

I am a new member of Fall batch-2018, working on my Masters of Applied Computer Science</li>

<li>I am from India. I completed my Bachelor's in<span> Computer Science and Engineering </span>from Chaitanya Bharathi Institute of Technology,Hyderabad.<br>I worked for two months as an intern at Ctrl-S Datacenter which is Asia's largest Tier 4 Datacenter as a developer.</li>

<li>I am willing to secure an SQL Data Analyst position that will enable the use of exceptional technical and analytical skills.<br>I would like to gain the skills and project based experience which will be helpful for my career growth.</li>
</ol>
</div>
</div>
</div>-->
<div class="container">
<div class="row">
<div class="col-sm-12">


<hr>
<table id="t1">
<tr>\

<th>Time</th>
<th>Monday</th>
<th>Tuesday</th>
<th>Wednesday</th>
<th>Thursday</th>
<th>Friday</th>
</tr>
<tr>
<td>11:00-11:50</td>
<td> Advanced Database</td>
<td></td>
<td>Advanced Database</td>
<td></td>
<td>Advanced Database</td>
</tr>
<tr>
<td>12:00-12:50</td>
<td>WebApps</td>
<td></td>
<td>WebApps</td>
<td></td>
<td></td>
</tr>
<tr>
<td>14:00-15:15</td>
<td></td>
<td>Object Oriented Programming</td>
<td></td>
<td>Object Oriented Programming</td>
<td></td>
</tr>
<tr>
<td>15:35-17:35</td>
<td></td>
<td></td>
<td></td>
<td>Object oriented Programming lab</td>
<td></td>
</tr>
</table>
<hr>
<H2>Content</H2>

<iframe src="https://www.youtube.com/embed/TCDIclsb-GY"></iframe>

<p>
Video courtesy of <a href="https://www.youtube.com/" target="_blank">Youtube</a>.
</p>
</div>
</div>
</div>

<!--<div class="container">
<div class="row">
<div class="col-md-4 img-responsive">


<div class="round">
<img class="img-circle im" src="image.jpg" alt="Profile photo">
</div>
</div>
</div>
</div>-->
<% include footer %>


</main>   
</body>
</html>
