<% include header %>
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>Tic Tac Toe</title>
        <link rel="stylesheet" type="text/css" href="tic-tac-toe.css">
        <body>
            	<h1>Two-Player tic-tac-toe</h1>
            <div id="tictactoe"></div>
		<div align="left">
			<span id='turn'>Player X</span>
		</div>
		<script src="tic-tac-toe.js"></script>
	</body>
</html>
<% include footer %>